.container {
    width: 80%;
    height: 80%;
    background: white;
    border: white solid 1px;
    margin: auto;
    display: flex
}

.next {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 0;
    top: 50%;
}

.prev {
    position: absolute;
    display: flex;
    justify-content: end;
    left: 0;
    top: 50%;
}

button.next {
    border: none;
    cursor: pointer;
}

button.next svg {
    width: 24px;
    height: 24px;
}